.nav-item {
    font-size: 18px;
    font-family: sans-serif;
    padding: 4px 16px;
}

header {
    /* margin: 6px 12px; */
}

.carousel-item {
    margin-top: 60px;
}

#carouselExample {
    height: 480px;
}

#carouselExample img {
    height: 370px;
}

.carousel-indicators {
    margin-left: 0 !important;
    justify-content: flex-start !important;
}

.carousel-indicators button {
    min-width: 28px;
    min-height: 8px;
    background-color: rgb(125, 126, 125) !important;
    border: none;
}

.carousel-indicators button.active {
    background-color: rgb(83, 77, 77) !important;
}

#cards img{
    border-radius: 0 !important;
    min-height:280px;
}

#slider img {
    border-radius: 0 !important;
}

#cards h5{
    color: white;
}


.card {
    overflow: hidden; 
}
.card-img {
    transition: transform 0.5s ease;
}
.card:hover .card-img {
    transform: scale(1.2);
    opacity: 0.9;
}

#head-sport{
    margin-bottom: 50px;
}

.navbar {
    display: flex !important;
    justify-content: center !important; /* Centers horizontally */
    align-items: center !important;     /* Centers vertically */
}


header
{
    width: 100% !important;
}



.topNavBar
{
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


footer{
    background-color: rgb(51, 51, 51);
    color: rgb(204, 204, 204);
    margin-bottom: 0;
    width: 100%;
}





@media (max-width: 768px) {
    .carousel-item {
        margin-top: 30px;
    }

    #carouselExample {
        height: auto;
    }

    #carouselExample img {
        height: auto;
        max-width: 100%;
    }

    .carousel-indicators {
        justify-content: center !important;
    }

    .carousel-indicators button {
        background-color: rgb(238, 248, 238) !important;
    }

    .nav-item {
        font-size: 16px;
    }

    #slider {
        margin-bottom: 40px;
    }
}

@media (max-width: 1024px) {
    .carousel-item {
        margin-top: 30px;
    }

    #carouselExample {
        height: auto;
    }

    #carouselExample img {
        height: 280px;
        max-width: 100%;
    }

    #slider {
        margin-bottom: 40px;
    }
}