.nav-item{
    font-size: 18px;
    font-family: sans-serif;
    padding: 4px 16px;
}

header{
    margin: 6px 12px;
}

.carousel-item {
    margin-top: 100px;
  }

#carouselExample{
    height: 480px;
}

#carouselExample img{
    height: 370px;
}

  .carousel-indicators{
    margin-left: 0 !important;
    justify-content: flex-start !important;
  }

  .carousel-indicators button{
    min-width: 28px;
    min-height: 8px;
    background-color: rgb(140, 145, 140) !important;
    border: none;
  }
  
  .carousel-indicators button.active {
    background-color: red  !important;
  }