.Geo {
    font-size: 12px;
}

.Know {
    font-size: 26px;
    font-weight: bold;
    color: (125, 126, 125)
}

.fa-home {
    font-size: 26px;
}

#navbarBrand {
    display: none;
}

.nav-item {
    font-size: 18px;
    font-family: sans-serif;
    padding: 0px 16px;
}

.carousel-item {
    margin-top: 60px;
}

#carouselExample {
    height: 480px;
}

#carouselExample img {
    height: 370px;
}

.carousel-indicators {
    margin-left: 0 !important;
    justify-content: flex-start !important;
}

.carousel-indicators button {
    min-width: 28px;
    min-height: 8px;
    background-color: rgb(125, 126, 125) !important;
    border: none;
}

.carousel-indicators button.active {
    background-color: rgb(83, 77, 77) !important;
}

.circle {
    display: grid;
    background-color: rgb(123, 81, 223);
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    justify-items: center;
    align-items: center;
    margin-bottom: 80px;
    margin-top: 30px;
}

.circle-circle {
    color: rgb(12, 10, 10);
    max-width: 130px;
    max-height: 130px;
    border-radius: 50%;
}

#imgid img {
    max-width: 130px;
    min-width: 70px;
    min-height: 70px;
    max-height: 130px;
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
}

.circle-text {
    text-align: center;
    font-size: 14px;
}

#cards img {
    border-radius: 0 !important;
    min-height: 280px;
}

#slider img {
    border-radius: 0 !important;
}

#cards h5 {
    color: white;
}

.card {
    border-radius: 0 !important;
    overflow: hidden;
}

.card-img {
    transition: transform 0.5s ease;
}

.card:hover .card-img {
    transform: scale(1.2);
    opacity: 0.9;
}

#head-sport {
    margin-bottom: 50px;
}

.navbar {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

header {
    width: 100% !important;
}

.topNavBar {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#text {
    margin: 30px 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text p {
    max-width: 600px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: white;
    padding: 20px 0;
}

@media (max-width: 768px) {
    .carousel-item {
        margin-top: 30px;
    }

    #carouselExample {
        height: auto;
    }

    #carouselExample img {
        height: auto;
        margin: 0;
        max-width: 100%;
    }

    .carousel-indicators {
        justify-content: center !important;
    }

    .carousel-indicators button {
        background-color: rgb(238, 248, 238) !important;
    }

    .nav-item {
        font-size: 16px;
    }

    #slider {
        margin-bottom: 40px;
    }

    .topNavBar,
    hr,
    #navbarBrand {
        display: none;
    }

    .circle {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, auto);
    }

    .circle-circle {
        max-width: auto;
        max-height: auto;
        margin: 12px;
    }

    #text p {
        max-width: 400px;
    }
}

@media (max-width: 1024px) {
    .carousel-item {
        margin-top: 30px;
    }

    #carouselExample {
        height: auto;
    }

    #carouselExample img {
        height: 280px;
        max-width: 100%;
    }

    #slider {
        margin-bottom: 40px;
    }

    .topNavBar,
    hr {
        display: none;
    }

    #navbarBrand {
        display: block;
    }

    footer {
        padding: 15px 0;
        font-size: 14px;
    }

    .circle {
        grid-template-columns: repeat(2, 1fr);
    }

    .circle-circle {
        width: 30vw;
        height: 30vw;
        max-width: 70px;
        max-height: 70px;
    }
}